* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 100px;
}

.resume-container {
    max-width: 1600px;
    width: 100%;
}

.main-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
    background-color: #252627;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #181818;
    width: 100%;
}

.navbar {
    background-color: #181818;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
    color: #707070;
}

li {
    list-style: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main-info-section {
    height: calc(100vh - 81.6px);
}

.text {
    margin-top: 120px;
}

.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}

.text span {
    display: inline-block;
}

span:hover {
    color: #48CFAD;
    transition: all .5s;
}

span.name {
    color: #ED5565;
}

span.m-left {
    margin-left: -10px;
}

.text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover {
    color: #fff;
}

.text a::before {
    content: '';
    background-color: #ED5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

.profile-image img {
    width: 450px;
    margin-top: 50px;
}

.resume-wrapper {
    width: 90%;
    height: 500px;
    padding: 0 100px 80px 100px;
    background-color: ##252627;
    box-shadow: 0 4px 80px #070509;
    border-radius: 16px;
    margin: 0 auto;
}

.resume-wrappers {
    width: 90%;
    min-height: 500px;
    padding-bottom: 100px;
    background-color: ##252627;
    box-shadow: 0 4px 80px #070509;
    border-radius: 16px;
    margin: 50 auto;
}

.resume-wrappers h1 {
    padding-top: 30px;
}

.main {
    padding: 100px 15px;
    margin: 80px 0;
}

.resume-wrappers h1 {
    font-size: 36px;
    color: #EE951F;
    text-align: center;
}

.copy-container h2 {
    font-size: 36px;
    color: #FFFFFF
}

.copy-container p {
    font-size: 16px;
    color: #FFFFFF
}

.container-left-side img {
    float: left;
}

.container-right-side {
    text-align: center;
}

.resume-heading {
    font-family: "Lucida Grande";
    padding-top: 30px;
    padding-bottom: 30px;
    color: #5f5d60;
}

.resume-heading h2 {
    font-weight: normal;
    color: #EE951F;
    font-size: 36px;
}

.resume {
    float: left;
    width: 45%;
    padding-left: 5%;
}

.resume-left-side {
    position: relative;
    color: #ffffff;
}

.resume-left-side h1 {
    position: relative;
    color: #EE951F;
    font-size: 50px;
}

.resume-left-side h3 {
    position: absolute;
    top: 10px;
    width: 100%;
    color: #EE951F;
}

.txt-resume-left-side {
    width: 80%;
    display: inline-block;
    margin-top: 60px;
    font-size: 25px;
    color: #FFFFFF;
}

.resume-right-side {
    width: 100%;
    position: relative;
    margin-top: 30px;
    color: white;
    text-align: center;
    left: 60px;
}

.resume-right-side li {
    font-size: 34px;
}

.resume-right-side p {
    font-size: 16px;
    padding-bottom: 11px;
}

.footer {
    background-color: #181818;
    color: #EE951F;
    height: 120px;
    margin-top: 40px;
}

.footer-logo {
    float: left;
    font-size: 32px;
    padding-top: 40px;
}

.footer-list {
    padding-top: 20px;
    float: right;
}

.footer-list li:hover {
    color: white;
}

.footer-list li {
    padding-bottom: 10px;
}
